/* Basic Layout for Website */

.container{
    position: relative;
    height: 100vh;
}

#applicationName {
    font-family: marker felt;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 20px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
}

#applicationDescription {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 150px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    text-align: center;
    
}

#connectDescription {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 350px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    text-align: center;

}




/* button CSS */


#connectBtn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    /*Center button */
    position: absolute;
    top: 450px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    
}

#connectBtn:after {
    content: "";
    background-color: #e9dfca;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#connectBtn:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    #connectBtn {
        padding: 13px 50px 13px;
    }
}

html {
    min-height: 100%;
}

/*Thinking of adding a wave background instead*/
body {
    background: linear-gradient(to bottom, #9bc19b, #cbf2cb);
  }
  

