/* Basic Layout for Website */
/*Color themes: 
#0A3409 dark green
#305A30 
#559E54
#92C591
#EBF7E3 very light green
https://www.w3schools.com/colors/colors_monochromatic.asp
*/

.container{
    position: relative;
    height: 100vh;
}

h1{
    color: #0A3409;
}

#applicationName {
    font-family: marker felt;
    font-weight: bold;
    font-size: 70px;
    position: absolute;
    top: 20px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
}

#applicationDescription {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 200px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    text-align: center;
    color: #305A30
    
}

#connectDescription {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 450px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    text-align: center;
    color: #0A3409;

}


.hidden {
  display: none;
  position: absolute;
}

#newButton1 {
  bottom: 280px;
  left: 20%;
}

#newButton2 {
  bottom: 280px;
  left: 40%;
}

#newButton3 {
  bottom: 280px;
  left: 60%;
}

#newButton4 {
  bottom: 280px;
  left: 80%;
}
/* button CSS */


#connectBtn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    /*Center button */
    position: absolute;
    top: 550px; /* Adjust this value to position Heading 1 from the top */
    left: 50%; /* Adjust this value to horizontally position Heading 1 */
    transform: translateX(-50%); /* Centers Heading 1 horizontally */
    
}

#connectBtn:after {
    content: "";
    background-color: #c6dcc6;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#connectBtn:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    #connectBtn {
        padding: 13px 50px 13px;
    }
}

html {
    min-height: 100%;
}

/*Wave background*/

  html,
  body {
    height: 100%;
  }
  
  body {
    background:#92C591;
    overflow: hidden;
  }
  
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background:#559E54;
  }
  
  .wave {
    background: url("wave.svg") repeat-x;
    position: absolute;
    bottom: -10px;
    width: 6400px;
    height: 400px;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
  }

  .newButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }  
  
  
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
      100% {
      transform: translate3d(0, -40px, 0);
    }
    50% {
      transform: translate3d(0, -10px, 0);
    }
  }
  .endWave{
      display:none;
  }

/**/